.div{
    background-image:url(https://www.shutterstock.com/image-photo/oil-serum-skin-hair-care-600nw-2190705621.jpg);
    background-color:black;
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
    color: black;
}
.heading{
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    text-decoration: underline;
}
.paragraph{
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.paragraph{
    font-size: 19px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: blue;
}
